.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3% 5% 8% 5%;
}

.education h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0 0 3%;
    text-align: center;
    opacity: 0;
    color: #08415c;
    animation: TitleSlideUp 2s ease-out forwards;
}

.degree {
    position: relative;
    flex: 1 1 45%;
    margin: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    background-color: #f9f9f9;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.degree h2 {
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.degree p {
    margin: 0.5rem 0;
}

.degree-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.coursework-item {
    padding: 1rem;
    border: 1px solid #dee2e6;
}

.education-card-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.button-light-container {
    margin-bottom: 1rem;
    cursor: pointer;
}

@keyframes TitleSlideUp {
    from {
        transform: translateY(5%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes CardSlideRight {
    from {
        transform: translateX(5%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes CardSlideLeft {
    from {
        transform: translateX(-5%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}