.button-light {
    display: inline-block;
    position: relative;
    padding: 0.4rem 1rem;
    border-radius: 0;
    color: #08415c;
    background-clip: text;
    -webkit-background-clip: text;
    border: 0.1rem solid;
    border-image-slice: 1;
    border-width: 0.1rem;
    border-image-source: linear-gradient(to right, #08415c, #cc2936);
    font-weight: bold;
    line-height: 1;
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s 0.08s;
}

.button-light::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #08415c, #cc2936);
    z-index: -1;
    transition: left 0.4s;
}

.button-light:hover::before {
    left: 0;
}

.button-light:hover {
    color: white;
    transition: color 0.4s 0.08s;
}