.button-dark {
    display: inline-block;
    position: relative;
    padding: 0.4rem 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
    
    border-radius: 0;
    border-color: white;
    border-style: solid;
    border-width: 0.1rem;
    
    line-height: 1;
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s 0.08s; 
}

.button-dark::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: white;
    z-index: -1;
    transition: width 0.4s;
}

.button-dark:hover::before {
    width: 8.5rem;
}

.button-dark:hover {
    color: #cc2936;
}