@keyframes TechTitleSlideUp {
    from {
        transform: translateY(-5%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-4%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(4%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-row {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
}

.skill-card {
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 50%;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    opacity: 0;
    animation-fill-mode: forwards;
}

.skills h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: #08415c;
    animation: TechTitleSlideUp 2s ease-out forwards;
}

.skill-card h5 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.skill-card p {
    font-size: 0.9rem;
    margin: 0;
}

.skill-card:hover {
    transform: scale(1.01);
}

.slide-left {
    animation: slideInLeft 1s ease-out forwards;
}

.slide-right {
    animation: slideInRight 1s ease-out forwards;
}

.even:hover {
    box-shadow: 0 0.25rem 0.5rem rgba(8, 65, 92, 0.2);
}

.odd:hover {
    box-shadow: 0 0.25rem 0.5rem rgba(204, 41, 54, 0.2);
}