@keyframes AboutSlideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes AboutSlideUp {
    from {
        transform: translateY(10%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes AboutSlideInLeft {
    from {
        transform: translateX(-5%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #08415c, #cc2936);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    padding: 3% 5% 8% 5%;
}

.about-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    margin-bottom: 6%;
    text-align: center;
    opacity: 0;
    animation: AboutSlideInRight 1s ease-out forwards;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.about-left {
    flex: 1;
    margin: 0 2%;
    opacity: 0;
    animation: AboutSlideUp 1s ease-out forwards;
    animation-delay: 0.5s;
}

.about-left img {

    width: 75%;
    height: auto;
    border-radius: 2%;
}

.about-right {
    flex: 1;
    margin: 0 2%;
    opacity: 0;
    animation: AboutSlideInLeft 1s ease-out forwards;
    animation-delay: 0.5s;
}

.about-right p {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    line-height: 1.7;
}
