* { 
    font-size: 0.79rem;
  }

body {
    margin: 1rem;
    padding: 1rem;
    font-family: 'Libre Baskerville', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

ul {
    margin-top: 0.8rem;
    list-style: none;
}

p {
    margin: 0.1rem;
}

div ul {
    list-style-type: disc;
}


.image {
    max-width: 1rem;
    max-height: 1rem;
    margin: 0.2rem;
}

.headings {
    text-align: left;
    font-weight: bold;
    vertical-align: top;
}

.subheadings{
    font-style: italic;
    
}


@media print {
    #printPageButton{
        display: none;
    }
}