body {
    font-family: 'Domine', serif;
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.65rem;
    margin-left: 0.65rem;
}

span {
    float: right;
    font-style: italic;
}

header {
    align-items: center;
    justify-content: center;
    display: flex;  
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.heading {
    font-weight: bold;
    font-size: larger;
    position: relative;
    margin-bottom: 0;
    margin-top: 0.2rem;
}

.heading hr {
    border: 0;
    border-top: 0.01rem solid black;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    width: 100%;
}

.technical-skills ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.education ul,
.work-experience ul,
.projects ul     {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0.1rem;
}

.description ul{
    list-style-type: disc;
    padding: 0;
    margin-left: 1rem;
}

.card {
    padding: 0;
    margin: 0;
}

@media print {
    #printPageButton{
        display: none;
    }
}