@keyframes ContactAppear {
    from {
        transform: translateX(5%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes ContactSlideUp {
    from {transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #08415c, #cc2936);
    clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0 100%);
    padding: 3% 5% 8% 5%;
}

.contact h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    margin-top: 10%;
    margin-bottom: 6%;
    text-align: center;
    opacity: 0;
    animation: ContactAppear 1s ease-out forwards;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 1.4rem;
    color: white;
    font-weight: 500;
}

.notification {
    margin-top: 0.8rem;
    font-size: small;
    padding: 0.8rem;
    background-color: #333333;
    color: #fff;
    border-radius: 1rem;
    display: flex;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: ContactSlideUp 1.5s ease-out forwards;
}

.contact-button-container {
    position: relative;
    display: inline-block;
}

.copied-animation {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333333;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.6rem;
    animation: fadeOut 1.5s forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
