@keyframes WorkSlideLeft {
    from {
        transform: translateX(-5%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes WorkSlideRight {
    from {
        transform: translateX(5%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes WorkTitleSlideUp {
    from {
        transform: translateY(-5%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.slide-in-left {
    animation: WorkSlideLeft 1s forwards;
}

.slide-in-right {
    animation: WorkSlideRight 1s forwards;
}

.fade-out {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.professional {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 3% 5% 10% 5%;
}

.professional h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 6%;
    text-align: center;
    color: #08415c;
    animation: WorkTitleSlideUp 1s ease-out forwards;
}

.work-card {
    position: relative;
    width: 75%;
    flex: 1 1 45%;
    margin: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    background-color: #f9f9f9;
    transition: transform 0.2s ease, box-shadow 0.2s ease, opacity 0.5s ease-in-out;
    opacity: 0;
}

.work-card-content {
    display: flex;
    align-items: center;
}

.work-image {
    width: 10rem;
    height: 10rem;
    margin-right: 2rem;
    border-radius: 2rem;
    object-fit: cover;
}

.work-details {
    flex-grow: 1;
}

.work-card h4 {
    font-size: 1.2rem;
    color: #555;
}

.work-card h5 {
    margin-bottom: 1rem;
}

.work-card p {
    margin: 0.5rem 0;
    padding-bottom: 2rem;
}

.work-card:hover {
    transform: scale(1.05);
}

.work-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.work-header span {
    font-size: 1rem;
    color: #555;
}

.work-header h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

.even-card:hover {
    box-shadow: 0 0.2rem 0.4rem rgba(8, 65, 92, 0.2);
}

.odd-card:hover {
    box-shadow: 0 0.2rem 0.4rem rgba(204, 41, 54, 0.2);
}

.button-light-container {
    margin-top: 2rem;
    cursor: pointer;
}
